* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #f4f0bb;
    color: #43291f;
}
header {
    background-color: #226f54;
    color: #fff;
}
main {
    max-width: 700px;
    margin: auto;
}
.level-info {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 12px;
}
.level-info ul {
    list-style-type: disclosure-closed;
}
.level-info ul li {
    background-color: #276c77;
    color: #fff;
    padding: 3px 24px;
    border-radius: 6px;
    margin-bottom: 4px;

}
.select-levels select {
    background-color: #f4f0bb;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid #c5c3c3cf;
    height: 50px;
    width: 345px;
}
.game-numbers-container {
    width: 350px;
}
.number {
    height: 50px;
    text-align: center;
    font-size: 1.7rem;
    line-height: 45px;
    font-weight: bold;
    color: #fff;
    background-color: #226f54;
    border:2px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 10px;
    margin-bottom: 3px;
    margin-right: 2px;
    width: 56px;
    transition: all ease 0.4s;
}
.number:hover {
    transform: scale(1.24);
}
.start-game-button {
    width: 100%;
    border: 2px solid #226f54;
    padding: 6px 12px;
    border-radius: 10px;
    background-color: #226f54;
    color: #fff;
    font-size: 1.2rem;
    margin-top: 16px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

}
.start-game-button:hover {
    opacity: 0.9;
}
.display-guess-number {
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrong {
    background-color: #ff5847;
}
.correct {
background-color: #43ff00;
}
.popup-container {
    background-color: #0000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 9999;
}
.popup{
    padding: 20px 48px;
    text-align: center;
    border-radius: 8px;
}
.win {
    background-color: #2a9d8f;
}
.lost {
    background-color: rgb(157, 42, 42);
}
.popup h2 {
    margin-top: 0px;
    color: #fff;
}
.popup-background{
    background-color: #00000094;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    width: 100%;
    height: 100%;
}

.play-again {
    padding: 8px 12px;
    border-radius: 6px;
    background-color: #1579cc;
    color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.436) 0px 3px 8px;
}
.play-again:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 500px) {
    .select-levels {
        flex-direction: column;
        width: 87%;
        margin: auto;
    }
}